body {
    margin: 2px;
}

th,td {
    text-align: center;
    padding: 1px;
}

#lijevo {
    position: relative;
    top: 80px;
}
#desno {
    position: relative;
    top: 80px;
    left: 27%;
}

#tablica {
    font-size: 20px;
    position: relative;
    left: 5%;
}
#tablica td {
    text-align: right;
}
.data {
    text-align: center;
    border-bottom: 1.5px solid black;
    margin-left: 10px;
    padding: 0;
    position: relative;
    left: 5px;
}
